# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Database
*.db
*.sqlite

# Browser data
zillow_user_session/
parcel_tracking_db/
shared_proto_db/
GrShaderCache/
GraphiteDawnCache/
ShaderCache/
first_party_sets.db
segmentation_platform/
*.py
